<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">🔐 Login</div>

<div class="auth-box">

<h2>Welcome Back</h2>

<p class="sub">Login to manage your watchlist</p>

<form method="post">

<label>Username</label>
<input class="auth-input" name="username" placeholder="Enter username">

<label>Password</label>
<input class="auth-input" type="password" name="password" placeholder="Enter password">

<button class="auth-btn">Login</button>

</form>

<p class="link">
New user? <a href="/register">Create Account</a>
</p>

</div>

</body>
</html>
