<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">📝 Register</div>

<div class="auth-box">

<h2>Create Account</h2>

<p class="sub">Join Movie Explorer</p>

<form method="post">

<label>Username</label>
<input class="auth-input" name="username" placeholder="Choose username">

<label>Password</label>
<input class="auth-input" type="password" name="password" placeholder="Create password">

<button class="auth-btn">Register</button>

</form>

<p class="link">
Already have account? <a href="/login">Login</a>
</p>

</div>

</body>
</html>
